<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.1"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd">

    <tlib-version>1.0</tlib-version>
    <short-name>functions</short-name>
    <uri>http://clinic.util/functions</uri>

    <!-- WEB-INF/tld/function.tld -->
    <!-- declaration in jsp: <%@ taglib prefix="fn" uri="http://topjava.javawebinar.ru/functions" %>           -->
    <!-- usage in jsp: ${fn:formatDateTime(meal.dateTime)}          -->
    <function>
        <name>formatDuration</name>
        <function-class>clinic.util.DataTimeUtil</function-class>
        <function-signature>java.lang.String toString(java.time.Duration)</function-signature>
    </function>
</taglib>